# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create a table of Data Science tools  
- Demonstrate arithmetic expressions in Python  
- Share the notebook on GitHub

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy (Python)  
2. Pandas (Python)  
3. Matplotlib (Python)  
4. ggplot (R)  
5. caret (R)

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Juan Javier Alvarez Mota